SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ENV{ID_VENDOR}=="RFXCOM", SYMLINK+="ttyUSB10"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ENV{ID_VENDOR}=="Silicon_Labs", SYMLINK+="ttyUSB11"